@import '../../common/styles/sass/variables';
.projectsBlock {
  background-color: $mainColorTwo;
  display: flex;
  justify-content: center;
  align-items: center;

  .projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin: 20px 0 20px 0;

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 1165px) {
        justify-content: center;
      }
    }
  }
}



