@import '../../common/styles/sass/variables';

.itemIconContainer {
  width: 25vh;
  height: auto;
  background-color: $mainColorOne;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  background-position: 50% 553px;
  margin: 0.5rem;
  padding: 1.5rem !important;
  flex-wrap: wrap;

  .contactIcon {
    height: 30px;
    width: 30px;
    background-color: rgba(0, 0, 0, 0.23);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 5px;
  }

  .contactDetail {
    margin-top: .5rem !important;
    text-align: center !important;

    a {
      font-size: 18px;
      font-weight: 500;
      color: #6e7373;
      text-decoration: underline;
      font-family: 'Open Sans', sans-serif;
      cursor: pointer;
    }

    p {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 14px;
      color: #333;
      font-weight: 700 !important;
      margin-top: .25rem !important;

    }
  }

  @media screen and (max-width: 686px) {
    justify-content: center;
    width: 100%;
  }
}
