.socialNetworkBlock {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialNetworkContainer {
    margin: 5% 0 5% 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footerText {
    background-color: gray;
}

.iconSocial {
    width: 100%;
    min-height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}


@media screen and (max-width: 1030px) {
    .iconSocial {
        justify-content: center;
    }

}

