.headerContainer {
    height: 60px;
    background-color: #2a2d36;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 540px) {
    .headerContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

