.contactsBlock {
    min-height: 70vh;
    background-color: #30ff97;
    display: flex;
    align-items: center;
}

.contactsContainer {
    flex-direction: column;
    justify-content: space-between;
}

.title {
    background-color: gray;
}


.contactsForm {
    width: 250px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input {
    max-width: 100%;
    height: 3vh;
}

.textArea {
   max-width: 100%;
    height: 14vh;
    resize: none;
}

/*@media(max-width: 700px){*/
/*    .contacts {*/
/*        min-width: 372px;*/
/*    }*/

/*    .container {*/
/*        min-width: 256px ;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        flex-wrap: wrap;*/
/*        justify-content: space-between;*/
/*        align-items: center;*/
/*    }*/
/*    .contactsContainer {*/
/*        width:100%;*/
/*    }*/

/*    .contactsForm {*/
/*        height: 100%;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: space-between;*/
/*        align-items: stretch;*/
/*        align-content: flex-start;*/
/*    }*/
/*}*/