.contactsBlock {
    min-height: 70vh;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: gray;
}


.contactsForm {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactsForm input, .contactsForm textarea {
    width: 100%;
    resize: none;
}

.submitBtn {
    padding: 10px 20px;
    background-color: #d8c3ff;
}

@media screen and (max-width: 1000px) {
    .contactsForm {
        width: 100%;
    }
}