
.itemSkill {
    width: 250px;
    background-color: rgba(0, 0, 0, 0.54);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.itemSkillsImage {
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.23);
}


.description {
    height: 33%;
    width: 100%;
    border: 1px solid;
}