.itemProject {
    width: 450px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}


.itemProjectsImage {
    height: 300px;
    background-color: rgba(0, 0, 0, 0.23);
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemProjectsButton {
    padding: 11px 20px;
    background: #fff;
    font-size: 14px;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    margin-bottom: 0!important;
    letter-spacing: 1px;
    color: #333;
    line-height: 1.2;
}

.itemProject h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100%;
    color: #333;
    font-weight: 700!important;
    text-align: center!important;
    margin-top: 1rem!important;
}

.itemProjectsDescription {
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color: #6e7373;
    font-size: 100%;
    vertical-align: baseline;
    text-align: center!important;
}


