.itemProject {
    width: 450px;
    background-color: rgba(0, 0, 0, 0.54);
    display: flex;
    flex-direction: column;
}


.itemProjectsImage {
    height: 300px;
    background-color: rgba(0, 0, 0, 0.23);
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemProjectsButton {
   background-color: #ffbb9d;
    padding: 10px 20px;
}

