.container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font: 400 16px/1.8 'Josefin Sans', sans-serif;
    color: #333;
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
        flex-wrap: nowrap;
    }
}