.navMenuMiniBtn {
  outline: none;
  padding: 0;
  border: none;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border-radius: .25rem;

  .svgContainer {
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    user-select: none;
    overflow: hidden;
    vertical-align: middle;

    .lineTop {
      stroke-dasharray: 40 139;
      fill: none;
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
      stroke: #212529;
      stroke-width: 2.5;
      stroke-linecap: round;
    }

    .lineMiddle {
      fill: none;
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
      stroke: #212529;
      stroke-width: 2.5;
      stroke-linecap: round;
    }

    .lineBottom {
      stroke-dasharray: 40 180;
      fill: none;
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
      stroke: #212529;
      stroke-width: 2.5;
      stroke-linecap: round;
    }
  }
}

