.navMenu {
    border: 1px solid;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 540px) {
    .navMenu {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
}
