.skillsBlock {
    min-height: 60vh;
    background-color: #c9ffd1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #ffc1c9;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/*@media(max-width: 834px){*/
/*    .skills {*/
/*        min-width: 372px;*/
/*    }*/

/*    .container {*/
/*        min-width: 300px;*/
/*    }*/

/*    .mySkills {*/
/*        min-width: 300px;*/
/*    }*/

/*    .allSkills {*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*        min-width: 300px;*/
/*    }*/


/*    .itemSkill {*/
/*        margin: 0.5%;*/
/*    }*/
/*}*/