@import '../common/styles/sass/variables';
.mainBlock {
  height: 100vh;
  background-color: #2a2d36;
  position: relative;
  z-index: 5;

  .mainBlockPhoto {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;

    &::after {
      content: "";
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 0;
      background-color: #000;
      opacity: 0.2;
    }

    .mainContainer {
      .text {
          color: $mainColorOne;
        width: 300px;
        text-align: center;
        position: relative;
        z-index: 2;

        span {
          width: 100%;
          font-size: 20px;
          font-weight: 300;
          letter-spacing: 3px;
          padding-bottom: 10px;
          text-transform: uppercase;
          margin-bottom: .5rem !important;
        }

        h1 {
          font-weight: 300;
          padding-bottom: 20px;
          margin-bottom: 30px;
          letter-spacing: 5px;
          width: 100%;
          font-size: 50px;
          font-family: 'Josefin Sans', sans-serif;
          line-height: 1.2;

          &::after {
            background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgb(165, 165, 165), rgba(0, 0, 0, 0));
            left: 0;
            right: 0;
            margin-top: 80px;
            height: 1px;
            width: 100%;
            content: "";
            z-index: 1;
            position: absolute;
          }
        }

        p {
          font-family: 'Open Sans', sans-serif;
          font-size: 20px;
          font-weight: 300 !important;
        }

      }
    }
  }
}





