.main {

    height: 100vh;
    background-color: #2a2d36;

}


.text {
    width: 300px;
}

.text h1 {
    color: #fff;
    font-weight: 300;
    padding-bottom: 20px;
    margin-bottom: 30px;
    letter-spacing: 5px;
    width: 100%;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    line-height: 1.2;
}

.title {
    height: 1px;
    width: 100%;
    margin-top: -20%;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgb(165, 165, 165), rgba(0, 0, 0, 0));
}

.photo {
    height: 400px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.34);
}
