.main {

    height: 100vh;
    background-color: #2a2d36;

}


.text {
    width: 300px;
}

.title {
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgb(165, 165, 165), rgba(0, 0, 0, 0));
}

.photo {
    height: 400px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.34);
}
