.mainBlock {
    height: 100vh;
    background-color: #2a2d36;
}

.mainContainer {
 /*background-image:  ;*/
}

.text {
    width: 300px;
    text-align: center;
    position: relative;

}

.text span {
    width: 100%;
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 3px;
    padding-bottom: 10px;
    text-transform: uppercase;
    margin-bottom: .5rem!important;
}

.text h1 {
    color: #fff;
    font-weight: 300;
    padding-bottom: 20px;
    margin-bottom: 30px;
    letter-spacing: 5px;
    width: 100%;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.2;
}

.text p {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300!important;
}

.text::after {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgb(165, 165, 165), rgba(0, 0, 0, 0));
    left: 0;
    right: 0;
    margin-top: -80px;
    height: 1px;
    width: 100%;
    content: "";
    position: absolute;
}

