.headerBlock {
  position: fixed !important;
  background-color: #fff;
  z-index: 4;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 0;
  right: 0;

  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @media (max-width: 1000px) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
    }

    .headerDtlRow {
      height: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 0;
      position: relative;

      .navBarLogo {
        color: rgba(0, 0, 0, .9);
        text-decoration: none;
        letter-spacing: 3px;
        font-family: 'Josefin Sans', sans-serif;
        margin-right: auto !important;
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;

        @media (max-width: 1000px) {
          color: rgba(0, 0, 0, .9);
          text-decoration: none;
          letter-spacing: 3px;
          font-family: 'Josefin Sans', sans-serif;
          margin-right: auto !important;
          display: inline-block;
          padding-top: .3125rem;
          padding-bottom: .3125rem;
          font-size: 1.25rem;
          line-height: inherit;
          white-space: nowrap;
        }
      }
    }
  }

  &::after {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgb(165, 165, 165), rgba(0, 0, 0, 0));
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    content: "";
    bottom: 0;
  }
}




