.navBarNav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: auto !important;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

}


//&::before {
//  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgb(165, 165, 165), rgba(0, 0, 0, 0));
//  position: absolute;
//  left: 0;
//  right: 0;
//  height: 1px;
//  width: 100%;
//  content: "";
//  bottom: 0;
//  margin-bottom: 160px;
//}
//
//&::after {
//  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgb(165, 165, 165), rgba(0, 0, 0, 0));
//  position: absolute;
//  left: 0;
//  right: 0;
//  height: 1px;
//  width: 100%;
//  content: "";
//  bottom: 0;
//}


