.footerBlock {
    min-height: 40vh;
    background-color: #9ee694;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContainer {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footerText {
    background-color: gray;
}

.iconSocial {
    width: 60%;
    min-height: 70px;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (max-width: 600px) {
    .iconSocial {
        justify-content: center;
    }
}


