.footerBlock {
    background-color: #fff;
    min-height: 10vh ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContainer {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footerText{
    color: #6e7373;;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}


