.footerBlock {
    background-color: #2a2d36;
    min-height: 10vh ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContainer {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footerText{
    color: #fff;
    text-align: center;
}


