.AboutMeBlock {
  opacity: 1;
  visibility: hidden;
  transform: translateY(0px);
  margin: 0 auto;
  background: #fff;
  margin-top: -200px;
  z-index: 100;
  position: relative;
  width: 95%;
  border-radius: 5px;
  transition: 0.5s;
  padding: 0 !important;
  max-width: 900px;




  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 90%;
    background: #fff;
    display: block;
    height: 50%;
    bottom: 0;
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    z-index: -1;
  }

  .AboutMeContainer {
    padding: 50px;
    background-color: #fff;
    border-radius: 5px;
    max-width: 100%;
    flex-wrap: wrap;

    //&::after {
    //  content: "";
    //  position: absolute;
    //  right: -80px;
    //  z-index: -354;
    //  height: 50%;
    //  width: 20vh;
    //  display: block;
    //  background: url(../AboutMe/patternAboutMe.png);
    //  background-size: 155px;
    //  top: -80px;
    //}

    .AboutMeRow {
      display: flex;
      flex-direction: row;
      align-items: center !important;
      justify-content: center !important;
      flex-wrap: nowrap;
      margin-right: -15px;
      margin-left: -15px;
      max-height: 300px;

      .AboutMeText {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;

        h2 {
          font: 400 16px/1.8 'Josefin Sans', sans-serif;
          font-size: 32px;
          font-weight: 500;
          margin: 0 0 30px;
          letter-spacing: 2px;
          color: #333;
          line-height: 1.2;
        }

        p {
          font: 400 16px/1.8 'Josefin Sans', sans-serif;
          font-family: 'Open Sans', sans-serif;
          color: #6e7373;
          margin-top: 1.5rem !important;
          font-weight: 300 !important;
          font-size: 20px;
        }
      }

      .AboutMePhotoBlock {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;

        .AboutMePhoto {
          height: 300px;
          margin: 0 auto;
          width: 300px;
          object-fit: cover;
          display: flex;
          justify-content: center;
          align-items: center;
          background-size: cover;
          background-position: center;
          position: relative;
          border-radius: 50%;
          background-color: #fff;
          max-width: 100%;
          vertical-align: middle;
          @media screen and (max-width: 1000px) {
            display: none;
          }
        }

        @media screen and (min-width: 768px) {
          display: block !important;
        }

      }

      @media screen and (max-width: 1000px) {
        flex-wrap: wrap;

      }
    }
  }
  @media screen and (max-width: 970px) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}











