.projects {
    background-color: #69d3ff;
}

.container {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.myProjects {
}

.allProjects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

@media screen and (min-width: 1129px) {
    .allProjects {
      justify-content: space-between;
    }
}
